@import "tailwindcss";

@theme {
  --color-primary: #219f90;
  --color-cream: #fcfbf1;
  --color-dark: #323232;
  --color-gray-dark: #2f2f2f;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
